[Unit]
Description=BEC Worker
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

User=ec2-user
Group=ec2-user

EnvironmentFile=/etc/bec/worker.env
WorkingDirectory=/home/ec2-user/ocr-inference/

# If you use a venv:
ExecStart=/opt/pytorch/bin/python -m BDRC.orchestration.cli_worker

Restart=always
RestartSec=5

# Send stdout/stderr to a log file (simple for CloudWatch Agent)
StandardOutput=append:/var/log/bec/worker.log
StandardError=append:/var/log/bec/worker.log

# Useful hardening
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
